-- SQL Helper Functions
-- Function to get user profile
CREATE OR REPLACE FUNCTION get_user_profile(user_id UUID)
RETURNS TABLE (id UUID, email TEXT, created_at TIMESTAMP)
LANGUAGE SQL SECURITY DEFINER
AS supabase\policies.sql
  SELECT id, email, created_at FROM profiles WHERE id = user_id;
supabase\policies.sql;
